@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"),
    url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
nav {
  background-color: #f8f9fa;
  transition: 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  transition: 0.5s;
}
h1,
h3 {
  color: #fd891c;
  text-align: center;
}
.nav-link {
  color: #fd891c !important;
  font-weight: bold;
  transition: 0.5s !important;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
.navbar ul li a{
  position: relative;
}
.navbar ul li a:hover:after{
  width: 90%;
}
.navbar ul li a:after, .active:after {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: '.';
  color: transparent;
  background: #c5500e;
  height: 2px;
}
.active:after{
  width: 90% !important;
}

.recipe {
  filter: drop-shadow(0 0 0.75rem grey) !important;
}
.card,
.card img {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}
.recipe_moment,
.recipe_moment img {
  border-radius: 30px !important;
}
.recipe_moment img {
  border-bottom-right-radius: 0% !important;
  border-top-right-radius: 0% !important;
}
.pp {
  width: auto !important;
}
.best_recipe,
.last_recipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.see_more {
  border-radius: 30px !important;
  color: white !important;
}
.see_more:hover {
  color: white !important;
}
.btn {
  background-color: orange !important;
}
.btn-search {
  background-color: green !important;
  color: white !important;
}
.see_more:hover,
.recipe:hover {
  transition: 0.5s !important;
  transform: scale(1.1) !important;
  z-index: 1 !important;
}
.see_more,
.recipe {
  transition: 0.5s !important;
  z-index: 1 !important;
}
#see_more_btn {
  color: white !important;
  border-radius: 30px !important;
  font-size: 1.3rem !important;
}
#see_more_btn div {
  transition: 0.5s !important;
  transform: translateX(0%) !important;
}
#see_more_btn:hover div {
  transition: 0.5s !important;
  transform: translateX(35%) !important;
  margin-right: 10% !important;
}
.competition {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #fd891c; /* Yellow #ffbe0b Orange #fb5607 */
}

#footer {
  margin-top: auto;
}

#form {
  background-color: rgba(253, 137, 28, 0.212);
  padding: 1rem;
}

.moon {
  background-color: transparent !important;
}

.sun {
  background-color: transparent !important;
}
#sun {
  display: none;
}
#moon {
  animation: rotationMoon 1s;
}
#sun {
  animation: rotationSun 1s;
}
#sun button:active,
#moon button:active {
  outline: none;
  border: none;
}
#sun button:focus,
#moon button:focus {
  outline: none !important;
  box-shadow: none;
}

.button_profil {
  display: flex;
  flex-direction: column;
}
.button_profil a {
  text-decoration: none;
  color: white;
}
.button_profil a:hover {
  text-decoration: none;
  color: white;
}
.btn-read {
  background-color: #089f58 !important;
}
.btn-update {
  background-color: #011170 !important;
}
.btn-ban {
  background-color: #9f0f08 !important;
  color: white !important;
}
.btn-read,
.btn-update,
.btn-ban {
  transition: 0.5s !important;
}
.btn-read:hover {
  background-color: #014927 !important;
  transform: scale(1.1);
  transition: 0.5s !important;
}
.btn-ban:hover {
  background-color: #620803 !important;
  transform: scale(1.1);
  transition: 0.5s !important;
}
.btn-update:hover {
  background-color: #00093f !important;
  transform: scale(1.1);
  transition: 0.5s !important;
}
.image-users {
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem grey);
}
.btn-success {
  background-color: green !important;
}
.strength {
  width: 25%;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 7px;
}
#strength-bar {
  background-color: #dcdcdc;
  height: 10px;
  position: relative;
}
#msg {
  width: 100%;
  text-align: left;
}
.logo_admin:hover {
  animation: rotate 2s infinite ease-in-out;
  line-height: 0;
}
.add-recipe{
  display: flex;
  justify-content: center;
  margin: 15px;
}
.add-recipe button{
  color: white;
  transition: 0.5s;
}
.add-recipe button:hover{
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}
.logo-add-remove-recipe{
  display: flex;
  height: 20px;
  align-items: center;
}
.logo-add-remove-recipe img{
  margin-right: 15px;
}
.logo-add-remove-persons{
  margin: 15px;
}
.logo-add-remove-persons img:hover{
  cursor: pointer;
}
.steps{
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
.plus, .dash{
  background: none !important;
}
.steps-input, #new-steps input, #new-ingredients input{
  margin-bottom: 15px;
}
#add-recipe{
  color: white;
}
.test{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.head-recipe{
  display: flex;
  align-items: baseline;
  background-color: #EFEEEC;
  border-radius: 15px;
  padding-left: 15px;
  margin: 0 auto;
  justify-content: center;

}
.head-recipe p{
  margin-right: 15px;
}
.nb_pers{
  display: flex;
  align-items: baseline;
}
.recipe-page{
  display: flex;
  flex-direction: column;
  border: #EFEEEC solid 1px;

}
#plus, #minus{
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .navbar ul li a:after, .active:after{
    display: none;
  }
  .nav-link:hover {
    text-decoration: none;
  }
  #svg-footer {
    display: none;
  }
  .card {
    margin-top: 25px !important;
  }
  #see_more_btn {
    min-width: 200px !important;
  }
  .recipe_moment div {
    max-height: 400px !important;
    overflow-y: hidden;
    padding: 0 !important;
  }
  .recipe_moment img {
    border-radius: 10% !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
  }
  .competition {
    padding-right: 5% !important;
  }
  .competition h1 {
    padding-left: 5% !important;
  }
  .competition img {
    width: 150px !important;
    height: 120px !important;
    border-radius: 10% !important;
  }
  #moon,
  #sun {
    animation: none;
  }
  .card_profil {
    margin-left: 12%;
  }
  .head-recipe{
    font-size: 0.7em;
  }
}
@keyframes rotationMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotationSun {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate3d(0, 1, 0, 359deg);
  }
}
