@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"),
    url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
.dark-mode {
  background-color: black;
  color: white;
  transition: 0.5s;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: 0.5s;
}
h1,
h3 {
  color: #fd891c;
  text-align: center;
}

.recipe {
  filter: drop-shadow(0 0 0.75rem grey) !important;
}
.card,
.card img {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}
.recipe_moment,
.recipe_moment img {
  border-radius: 30px !important;
}
.recipe_moment img {
  border-bottom-right-radius: 0% !important;
  border-top-right-radius: 0% !important;
}
.best_recipe,
.last_recipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.see_more {
  border-radius: 30px !important;
  color: white !important;
}
.see_more:hover {
  color: white !important;
}
.btn {
  background-color: orange !important;
}
.btn-search {
  background-color: green !important;
  color: white !important;
}
.see_more:hover,
.recipe:hover {
  transition: 0.5s !important;
  transform: scale(1.1) !important;
  z-index: 1 !important;
}
.see_more,
.recipe {
  transition: 0.5s !important;
  z-index: 1 !important;
}
#see_more_btn {
  color: white !important;
  border-radius: 30px !important;
  font-size: 1.3rem !important;
}
#see_more_btn div {
  transition: 0.5s !important;
  transform: translateX(0%) !important;
}
#see_more_btn:hover div {
  transition: 0.5s !important;
  transform: translateX(35%) !important;
  margin-right: 10% !important;
}
.competition {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #fd891c; /* Yellow #ffbe0b Orange #fb5607 */
}

#footer {
  margin-top: auto;
}

#form {
  background-color: rgba(253, 137, 28, 0.212);
  padding: 1rem;
}

.moon {
  background-color: transparent !important;
}

.sun {
  color: white !important;
  background-color: transparent !important;
  display: none !important;
}

@media screen and (max-width: 800px) {
  #svg-footer {
    display: none;
  }
  .card {
    margin-top: 25px !important;
  }
  #see_more_btn {
    min-width: 200px !important;
  }
  .recipe_moment div {
    max-height: 400px !important;
    overflow-y: hidden;
    padding: 0 !important;
  }
  .recipe_moment img {
    border-radius: 10% !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
  }
  .competition {
    padding-right: 5% !important;
  }
  .competition h1 {
    padding-left: 5% !important;
  }
  .competition img {
    width: 150px !important;
    height: 120px !important;
    border-radius: 10% !important;
  }
}
