@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.woff2') format('woff2'),
      url('../fonts/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.woff2') format('woff2'),
      url('../fonts/Raleway-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

h3{
  text-align: center;
}
.recipe{
  box-shadow: 10px -10px 15px lightgrey;
}
.card, .card img{
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  
}
.recipe_moment, .recipe_moment img{
  border-radius: 30px !important;
}
.recipe_moment img{
  border-bottom-right-radius: 0% !important;
  border-top-right-radius: 0% !important;
}
.best_recipe, .last_recipe{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.see_more{
  border-radius: 30px !important;
}
.see_more:hover, .recipe:hover{
  transition: 0.5s !important;
  transform: scale(1.1) !important;
  z-index: 1 !important;
}
.competition{
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #FD891C; /* Yellow #ffbe0b Orange #fb5607 */
}
