RewriteEngine On

RewriteRule ^toutes-nos-recettes$ allrecipe.php
RewriteRule ^concours$ concours.php
RewriteRule ^connexion$ connexion.php
RewriteRule ^inscription$ inscription.php
RewriteRule ^mon-profile$ profile/profile.php
RewriteRule ^mes-recettes$ profile/mesRecettes.php
RewriteRule ^thread$ thread.php
